/.DS_Store export-ignore
/.editorconfig export-ignore
/.github export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.idea export-ignore
/.php-cs-fixer.cache export-ignore
/.phpunit.result.cache export-ignore
/.start-docker.sh export-ignore
/.vagrant export-ignore
/.vscode export-ignore
/benchmarks export-ignore
/cached export-ignore
/coverage export-ignore
/create-docker-container.sh export-ignore
/docker export-ignore
/hydrators export-ignore
/logs export-ignore
/tests export-ignore
/vendor export-ignore
/DOCKER_HOWTO.md export-ignore
/Dockerfile export-ignore
/composer.lock export-ignore
/grumphp.yml export-ignore
/modified_psr12_ruleset.xml export-ignore
/phpstan.neon export-ignore
/phpunit.xml export-ignore
